body {
  background: url(../img/purple3.jpg) no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position:center center;

}

@mixin blurEffectContainer{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);

  position: relative;
  z-index: 1;

  overflow: hidden;
}

@mixin blurEffectContainerBefore{
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.container {
  width: 80vw;
  height: auto;
  padding: 40px;
  background: inherit;
  @include blurEffectContainer;
  border-radius: 20px;


}

.container:before {
  @include blurEffectContainerBefore;
}
select, button{
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 10px;
  @include blurEffectContainer

}
button{
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
select::before, button::before{
 @include blurEffectContainerBefore;

}

#weather-forecast{
  width: 500px;
}
