:root {
  --main-blue: rgba(161, 233, 245, 0.5);
  --main-purple: rgba(53, 14, 71, 0.4);
  --dark-purple: rgba(87, 21, 93, 1);
  --card-width: 100%;
  --font-color: #3b3535;
}

@font-face {
  font-family: app-font;
  src: url("../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf"), url("../fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
}
body {
  background: url(../img/purple3.jpg) no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center center;
  color: var(--font-color);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "app-font", sans-serif;
  font-size: 20px;
}

.container {
  width: 80vw;
  max-width: 700px;
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
  animation: startAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.9);
}

@keyframes startAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
  animation: startAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.container-inner {
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
}

select, button {
  height: 2.5rem;
  animation: startAnimation;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.9s;
  color: var(--font-color);
}

select {
  padding: 0 10px;
}

select option {
  color: red;
}

select, button, .card {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card {
  animation: startAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

select::before, button::before, card::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

button {
  background: var(--main-purple);
  cursor: pointer;
}

#countries-info.card, #cities-info.card {
  padding: 20px;
}

.weather-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50%;
  grid-auto-flow: row;
  grid-row-gap: 20px;
}

.weather-controls {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

.weather-buttons {
  display: grid;
  grid-template-columns: 200px 200px 160px;
  grid-template-rows: 100%;
  grid-gap: 20px;
  grid-auto-flow: row;
  box-sizing: border-box;
}

#today-weather {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 40px auto auto auto;
  padding: 20px;
  max-width: var(--card-width);
}

#today-weather h1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

h1 {
  margin: 0;
  font-size: 1.3em;
}

.weather-icon {
  grid-column: 1/2;
  grid-row: 2/3;
}

#weather-icon {
  width: 100%;
}

.weather-info {
  grid-column: 2/3;
  grid-row: 2/3;
}

#error-info {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 20px;
}

#weather-description {
  text-align: center;
}

.card .weather-icon, .card #weather-icons {
  background-color: #ffffff63;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card #weather-icons {
  grid-template-rows: 100%;
  grid-template-columns: repeat(5, 20%);
  padding-top: 10px;
}

.card .icon-container {
  border-left: 1px solid var(--main-purple);
}

.card .icon-container:first-child {
  border-left: none;
}

.card .icon-container p {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.card .icon-container img {
  width: 100%;
}

.card .weather-info {
  margin: 10px;
  font-size: 24px;
}

.card .weather-info div {
  margin-bottom: 10px;
}

#weather-forecast-title {
  margin: 10px 0px 20px 0;
}

#weather-forecast {
  padding: 20px;
}

#weather-description {
  padding: 0 5px;
  text-transform: capitalize;
}

footer {
  margin-top: 20px;
  justify-self: stretch;
  height: 60px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 16px;
  animation: startAnimation;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

footer::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
  background-color: var(--main-purple);
}

a {
  color: var(--dark-purple);
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
  .weather-buttons {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    width: 95vw;
  }

  .card .icon-container p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .container-inner {
    padding: 20px;
  }
}
@media only screen and (max-width: 450px) {
  #today-weather, #weather-forecast {
    padding: 10px;
  }

  .card #weather-icons {
    margin: 0;
  }

  #today-weather {
    grid-template-columns: 120px auto;
  }
}
@media only screen and (max-width: 350px) {
  .icon-container img {
    display: none;
  }

  .card .icon-container p {
    font-size: 14px;
  }

  #today-weather .weather-info {
    font-size: 18px;
  }
}

/*# sourceMappingURL=styles.css.map */
